<div id="color_settings">
	<h4>Choose colors</h4>
	<a id="color_settings__btn" href="#"><i class="fa fa-pencil"></i></a>

	<div id="scheme_1" class="color_palette active">
		<div class="color_1 color_item"></div>
		<div class="color_2 color_item"></div>
	</div>

	<div id="scheme_2" class="color_palette">
		<div class="color_1 color_item"></div>
		<div class="color_2 color_item"></div>
	</div>

	<div id="scheme_3" class="color_palette">
		<div class="color_1 color_item"></div>
		<div class="color_2 color_item"></div>
	</div>

	<div id="scheme_4" class="color_palette">
		<div class="color_1 color_item"></div>
		<div class="color_2 color_item"></div>
	</div>
</div>